.message-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-gap: 20px; /* Space between columns */
  align-items: center; /* Vertically center items */
  justify-items: center; /* Horizontally center items */
  height: 100vh; /* Full viewport height */
  padding: 20px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px; /* Limit the form width */
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-grid input, .form-grid button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-grid button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 100%; /* Set the button width to fill the available space */
  padding: 15px; /* Optionally increase padding to make the button taller */
  border-radius: 5px;
  font-size: 16px;
}

.form-grid button:hover {
  background-color: #45a049;
}

.image-grid {
  background-image: url('../images/1.jpg'); /* Set the image URL here */
  background-size: cover; /* Ensure the image covers the area */
  background-position: center; /* Center the image */
  height: 70%; /* Make sure it fills the div */
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
